.track-scroll {
  @apply flex flex-col items-center;

  .section {
    @apply min-h-64 text-lg relative w-full;
    font-family: Inpin, sans-serif;

    &.profile {
      @apply pt-4 h-screen max-h-[1000px] w-full flex items-center justify-center overflow-hidden relative;

      &::before,
      &::after {
        @apply content-[""] w-full h-1/4 absolute left-0 right-0;
      }

      &::before {
        @apply top-0;
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0) 0%,
          hsl(var(--ui-background)) 100%
        );
      }

      &::after {
        @apply bottom-0 -z-10;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          hsl(var(--ui-background)) 100%
        );
      }
    }
  }

  > *:not(:nth-last-child(1), :nth-last-child(2)) {
    @apply mb-20;
  }

  > *:nth-last-child(2) {
    @apply min-h-0 mb-10;
  }

  > .sticky-container {
    @apply sticky w-screen left-0 bottom-0 py-2 text-center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    white-space: pre-wrap;

    > .text {
      @apply uppercase italic text-7xl tracking-wider;
      text-shadow: 2px 2px 0px hsl(var(--ui-background) / 0.5);
    }

    > .background {
      @apply w-0 absolute h-0 overflow-hidden;

      > .background-text span {
        @apply opacity-50 mr-6 !text-transparent;
        background-image: url("/strip-pattern.png");
        background-repeat: repeat;
        background-position: top left;
        background-size: 10px;
        background-clip: text;
        line-height: 0.7;
        font-size: 8rem;
      }

      &.primary {
        @apply bg-primary;
      }

      &.secondary {
        @apply bg-secondary;
      }

      &.warning {
        @apply bg-warning;
      }
    }
  }
}
