.thumbnailCard {
  @apply w-full relative rounded-2xl p-2;
}

.wrapper {
  @apply overflow-hidden aspect-video flex items-center justify-center rounded-2xl relative;
}

.wrapper:hover .imageWrapper::after {
  @apply backdrop-brightness-50;
}

.imageWrapper {
  @apply relative;
}

.imageWrapper::after {
  @apply content-[''] inset-0 absolute transition-all duration-500 pointer-events-none;
}

.decorative {
  @apply absolute opacity-0 transition-all ease-in-out duration-500 inset-0 pointer-events-none;
}

.decorative svg {
  width: 100%;
  height: 100%;
}

.decorative svg path {
  fill: hsl(var(--ui-secondary) / 0.75);
}

.thumbnailCard:hover .decorative {
  @apply opacity-100;
}

.thumbnailCard:hover .content header h2 {
  @apply text-foreground;
  text-shadow: none;
}

.content {
  @apply absolute top-0 left-0 w-full h-full flex flex-col justify-end px-2 lg:px-4 pointer-events-none;
}

.content header h2 {
  @apply text-4xl tracking-wide uppercase mb-2 relative;
  text-shadow: 0rem 0.1rem 0.1rem hsl(var(--ui-background));
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.content p {
  @apply max-h-24 mb-2 w-full whitespace-break-spaces text-justify text-ellipsis overflow-hidden;
  font-family: Inpin, "Arial Narrow Bold", sans-serif;
}

.content p::first-letter {
  @apply uppercase;
}

.techStack {
  @apply absolute whitespace-break-spaces top-0 left-0 pt-2 pl-2 w-3/4;
}

.techStack div {
  @apply inline-block mr-1 mb-1;
}

.techStack img {
  @apply h-12 aspect-square inline-block bg-background/60 rounded-lg p-2;
}

.thumbnailLink {
  @apply flex flex-col items-end gap-2 absolute top-0 right-0 w-40 h-full p-2 pr-0;
}

.thumbnailLink > span > a {
  @apply flex flex-row items-center bg-background/50 rounded-l-lg;
  font-family: Inpin, "Arial Narrow Bold", sans-serif;
}

.linkButton {
  @apply p-2 aspect-square w-16;
}
