@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Impact";
  src: local("Impact Regular"), local("Impact-Regular"),
    url("../fonts/ImpactLTStd.woff2") format("woff2"),
    url("../fonts/ImpactLTStd.woff") format("woff"),
    url("../fonts/ImpactLTStd.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inpin";
  src: local("Inpin Regular"), local("Inpin-Regular"),
    url("../fonts/Inpin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply p-0 m-2;
}

.parallax {
  @apply overflow-hidden tracking-widest italic m-0 mb-1 whitespace-nowrap flex flex-nowrap w-full;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 0.8;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  @apply flex gap-x-2 transition-colors duration-250;
  margin-right: 10px;

  :hover {
    @apply text-foreground-500 transition-colors duration-250;
  }
}

.thumbnail > .left,
.thumbnail > .right {
  fill: hsl(var(--ui-danger) / 0.75);
}
